Dear ${user.fullName},

You (or someone else) have requested a new password.

Follow the link to set a new password for your account:

${applicationURL}

The link will expire within 24 hours.

Cheers,
Berleha Administrator
